*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#081c15;
color:#fff;
line-height:1.7;
}

nav{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,.4);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:24px;
font-weight:700;
color:#22c55e;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
color:#fff;
text-decoration:none;
font-weight:500;
transition:.3s;
}

nav ul li a:hover{
color:#22c55e;
}

.hero{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:150px 8% 80px;
background:linear-gradient(135deg,#081c15,#14532d);
}

.hero-text{
max-width:750px;
}

.hero h4{
color:#22c55e;
font-size:22px;
}

.hero h1{
font-size:65px;
margin:15px 0;
}

.hero h2{
font-size:32px;
font-weight:400;
color:#d1fae5;
margin-bottom:20px;
}

.hero p{
font-size:18px;
color:#ddd;
margin-bottom:35px;
}

.buttons{
display:flex;
justify
